.div{
    text-align: center;
    padding-top: 3vw;
    background-color: aqua;
    min-height: 20vw;
    max-height: fit-content;
    padding-bottom: 2vw;
}
p{
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 1vw;
    line-height: 2em;
}
.div1{
    margin-top: 2vw;
    display: flex;
    justify-content: space-around;
    height: 20vw;
    padding: 0%;
}
.div12{
    background-color: aqua;
    height: 15vw;
}
.div31{
    background-color: white;
}
footer{
    background-color: rgb(10, 10, 78);
    height: 25vw;
    color: white;
    margin-bottom: 0%;
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
}
.span{
    padding: 0ch;
    margin: 0ch;
    height: 25vw;
    background-color: white;
    width: 0.2vw;
}
.navbar{
background-color: rgb(10, 10, 78);
color: white;
}
.links{
    color: white;
    text-decoration: none;
}
.links:hover{
    background-color: aqua;
    color: black;
}