.motivation{
    padding-top: 1vw;
    display: flex;
    justify-content: space-around;
}
.p{
    padding-bottom: 1vw;
    font-size: 1vw;
}
.class{
    width: 10vw;
    font-weight: 600;
    margin-bottom: 2vw;
    background-color: rgb(14, 14, 77);
    color: white;
}